echo "__pycache__/" > .gitignore
echo "*.pkl" >> .gitignore
echo "*.pyc" >> .gitignore
echo "1.py" >> .gitignore
echo "outline.py" >> .gitignore
echo "outline_1.py" >> .gitignore
echo "r.py" >> .gitignore
echo "teste.py" >> .gitignore
echo "working_version.py" >> .gitignore
echo "Fertility_model" >> .gitignore